## Hierarchical indexing

In [1]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [2]:
import pandas as pd
import numpy as np

In [3]:
def mklbl(prefix, n):
    return ["%s%s" % (prefix, i) for i in range(n)]
miindex = pd.MultiIndex.from_product([mklbl('A', 4),
                                      mklbl('B', 2),
                                      mklbl('C', 4),
                                      mklbl('D', 2)])

micolumns = pd.MultiIndex.from_tuples([('a', 'foo'), ('a', 'bar'),('b', 'foo'), ('b', 'bah')],
                                      names=['lvl0', 'lvl1'])

dfmi = pd.DataFrame(np.arange(len(miindex) * len(micolumns))
                    .reshape((len(miindex), len(micolumns))),
                    index=miindex,
                    columns=micolumns).sort_index().sort_index(axis=1)

In [4]:
dfmi.head(20)

lvl0          a       b
lvl1        bar foo bah foo
A0 B0 C0 D0   1   0   3   2
         D1   5   4   7   6
      C1 D0   9   8  11  10
         D1  13  12  15  14
      C2 D0  17  16  19  18
         D1  21  20  23  22
      C3 D0  25  24  27  26
         D1  29  28  31  30
   B1 C0 D0  33  32  35  34
         D1  37  36  39  38
      C1 D0  41  40  43  42
         D1  45  44  47  46
      C2 D0  49  48  51  50
         D1  53  52  55  54
      C3 D0  57  56  59  58
         D1  61  60  63  62
A1 B0 C0 D0  65  64  67  66
         D1  69  68  71  70
      C1 D0  73  72  75  74
         D1  77  76  79  78

In [5]:
dfmi[('b', 'bah')]

A0  B0  C0  D0      3
            D1      7
        C1  D0     11
            D1     15
        C2  D0     19
                 ...
A3  B1  C1  D1    239
        C2  D0    243
            D1    247
        C3  D0    251
            D1    255
Name: (b, bah), Length: 64, dtype: int32

In [6]:
idx = pd.IndexSlice
dfmi.loc[idx['A1':'A3', :, ['C1', 'C3']], idx['b', ['bah', 'foo']]]

lvl0           b
lvl1         bah  foo
A1 B0 C1 D0   75   74
         D1   79   78
      C3 D0   91   90
         D1   95   94
   B1 C1 D0  107  106
         D1  111  110
      C3 D0  123  122
         D1  127  126
A2 B0 C1 D0  139  138
         D1  143  142
      C3 D0  155  154
         D1  159  158
   B1 C1 D0  171  170
         D1  175  174
      C3 D0  187  186
         D1  191  190
A3 B0 C1 D0  203  202
         D1  207  206
      C3 D0  219  218
         D1  223  222
   B1 C1 D0  235  234
         D1  239  238
      C3 D0  251  250
         D1  255  254